/* google fonts import */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Merriweather', serif; */
    font-family: 'Open Sans', sans-serif;
}

/* header section css start  */
header {
    margin: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    height: 80vh;
}

.container {
    text-align: center;
    max-width: 600px;
}

.container h3 {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 15px;
}

.container h1 {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
/* header section css end  */

/* section start css  */
section {
    margin: 70px 100px;
}

.holyday-deals {
    text-align: center;
}

.holyday-deals h1 {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 40px;
}

.holyday-deals p {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}

.holyday-deals h3 {
    color: #070211;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
}

/* midnight-party section  */
.midnight-party {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}

.midnight-party .join {
    padding: 80px 60px;
    max-width: 60%;
}

.midnight-party .join h3 {
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
    letter-spacing: 7px;
}

.midnight-party .join h3 {
    color: #FFF;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 7px;
}

.midnight-party .join p {
    padding: 25px 0;
    color: #ffffffcc;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

button {
    color: #fff;
    background-color: #F00;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    padding: 15px 25px;
    cursor: pointer;
}

.midnight-party img {
    width: 250px;
    margin-right: 30px;
}


/* place section css  */
.place {
    width: 100%;
    padding: 80px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.233) 0%, rgba(255, 0, 0, 0.075) 100%);
    border-radius: 8px;
    text-align: center;
}

.place h3 {
    font-size: 30px;
    font-weight: 600;
    line-height: 50px;
}

.place span {
    color: #F00;
}

.btn-bottom {
    margin-top: 30px;
}

.margin-top {
    margin-top: 100px;
}

/* coming-soon offer seciton css */
.coming-soon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.best-offer {
    flex: 1;
}

.coming-soon .radious-pic {
    padding: 10px;
    border-radius: 50%;
    border: 10px solid #F00;
}

.coming-soon .best-offer h4 {
    color: #F00;
    font-size: 20px;
    font-weight: 500;

}

.coming-soon .best-offer h2 {
    color: #070211;
    font-size: 45px;
    font-weight: 900;
    padding: 15px 0;
}

.coming-soon .best-offer h1 {
    color: #F00;
    font-size: 50px;
    font-weight: 900;
    padding: 15px 0;

}

.coming-soon .best-offer p {
    color: #07021199;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.coming-soon .best-offer .img-top {
    margin-top: 15px;
}


/* holidays-sale seciton css  */

.holidays-sale .content {
    text-align: center;
    padding: 0 100px;
}

.holidays-sale .content h4 {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holidays-sale .content h2 {
    color: #070211;
    font-size: 60px;
    font-weight: 900;
    padding: 15px 0;
}

.holidays-sale .content h2 span {
    color: #F00;
}

.holidays-sale .content p {
    color: #07021199;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.display-discount {
    margin: 25px 0;
}

.rec-grp75 {
    position: relative;
}

.Rectangle1 {
    float: right;
}

.Group75 {
    position: absolute;
    right: 278px;
    top: 50px;
}

.rec-grp44 {
    position: relative;
}

.Rectangle2 {
    width: 100%;
}

.Group44 {
    position: absolute;
    left: 0;
    bottom: 0;
}

/* portfolio-section section css  */
.portfolio-section .heading {
    width: 70%;
}

.portfolio-section .heading h4 {
    color: #F00;
    font-size: 22px;
    font-weight: 500;
}

.portfolio-section .heading h2 {
    color: #070211;
    font-size: 35px;
    font-weight: 900;
    padding: 10px 0;
}

.portfolio-section .heading p {
    color: #07021199;
    font-weight: 400;
    line-height: 32px;
}

.all-portfolio {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.all-portfolio img {
    width: 390px;
    border-radius: 16px;
    cursor: pointer;
}

.all-portfolio img:hover {
    outline: 2px solid #070211;
}

/* newsletter section start css */
.newsletter{
    padding: 0 200px;
    text-align: center;
}
.newsletter h2{
    padding: 25px;
    font-size: 48px;
    font-weight: 900;
}
p{
    font-size: 18px;
}
.newsletter p{
    color: #07021199;
    font-weight: 400;
}

.input{
    margin: 25px auto;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 4px #07021144;
    border-radius: 30px;
}
.input input{
    flex: 1;
    background: transparent;
    font-size: 18px;
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 30px 0 0 30px;
}
.btn{
    border-radius: 0 30px 30px 0;
    transition: 0.3s;
}
.btn:hover{
    background-color: rgb(170, 17, 17);
}


/* footer section start css  */
footer {
    background-color: #070211;
    padding: 100px 150px;
    color: #FFF;
}

footer .first-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .first-foot img{
    margin-right: 10px;
}

footer .first-foot p {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 5px;
}
.cursor{
    cursor: pointer;
}

footer .second-foot {
    text-align: center;
    margin: 50px 0;
}

hr{
    margin: 50px 0;
    border: 1px solid #302f30;
}


footer .second-foot img {
    margin-right: 15px;
    cursor: pointer;
}

footer .third-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .third-foot p {
    cursor: pointer;
    font-size: 24px;
    font-weight: 500;
}

/* the code ends  */